Assignment4/static/Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Required Name element for Hotel -->
              <xs:element name="Name" type="xs:string" />
              <!-- Required Phone element for Hotel --> 
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" />
              <!-- Required Address element for Hotel -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="NearestAirport" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Optional Rating attribute for Hotel -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>